on early-init
	export EXTERNAL_STORAGE /storage/sdcard0
	export SECONDARY_STORAGE /storage/sdcard1
	mkdir /storage 0050 system sdcard_r
	mkdir /storage/sdcard0 0000 system system
	mkdir /storage/sdcard1 0000 system system
	mkdir /storage/sdcard2 0000 system system
	symlink /storage/sdcard0 /sdcard
	symlink /storage/sdcard0 /mnt/sdcard
	symlink /storage/sdcard1 /mnt/extsd

on early-fs
	insmod /system/vendor/modules/disp.ko
	insmod /system/vendor/modules/lcd.ko
	insmod /system/vendor/modules/hdmi.ko

	#insmod mali driver
	insmod /system/vendor/modules/ump.ko
	insmod /system/vendor/modules/mali.ko

	chmod 777 /dev/ump
	chmod 777 /dev/mali
	chown system system /sys/devices/platform/mali-utgard.0/aw_mali_freq/mali_clk
	chown system system /sys/devices/platform/mali-utgard.0/aw_mali_freq/mali_vol

on fs
	setprop ro.crypto.umount_sd false
	mount_all /fstab.sun7i

on boot
        # Enable interactive governor
        write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

        # Lower maximum frequency when screen is off
        write /sys/devices/system/cpu/cpu0/cpufreq/screen_off_max_freq 696000

        # cpufreq interactive governor: timer 20ms, min sample 20ms, hispeed 700MHz
        write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
        write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 20000
        write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 696000

        # chown adequately for power HAL
        chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
        chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
        chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
        chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
        chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
        chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
        chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay

	# video driver
	insmod /system/vendor/modules/cedarx.ko

	# touchscreen drivers
	insmod /system/vendor/modules/ft5x_ts.ko

	# gsensor drivers
	insmod /system/vendor/modules/mma865x.ko

	# camera drivers
	insmod /system/vendor/modules/videobuf-core.ko
	insmod /system/vendor/modules/videobuf-dma-contig.ko   
	insmod /system/vendor/modules/gc2035.ko
	insmod /system/vendor/modules/gc0308.ko
	insmod /system/vendor/modules/sunxi_csi0.ko

on post-fs-data
	mkdir /data/misc/sensors 0777 system system
	setprop vold.post_fs_data_done 1

# wifi related service
service wpa_supplicant /system/bin/wpa_supplicant -D wext -i wlan0 \
	-c /data/misc/wifi/wpa_supplicant.conf -e /data/misc/wifi/entropy.bin
    class main
    socket wpa_wlan0 dgram 0660 wifi wifi
    group system wifi inet
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant -D wext -i wlan0 \
        -c /data/misc/wifi/wpa_supplicant.conf -e /data/misc/wifi/entropy.bin
    class main
    socket wpa_wlan0 dgram 0660 wifi wifi
    group system wifi inet
    disabled
    oneshot

# dhcpcd daemons
service dhcpcd_wlan0 /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot    

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot    

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service memsicd /system/bin/logwrapper /system/bin/memsicd
   class troy
   oneshot

on property:dev.bootcomplete=1
    write /sys/module/lowmemorykiller/parameters/minfree "2048,4096,8192,80000,90000,100000"
